
{% extends 'cliente/base.html' %}
{% load static %}
{% block contenido %}
<div class="container-fluid mt-5 bg-white">
    <div class="row justify-content-center">
      <div class="col-3 mt-5 mb-5">
        <h1>Lista de Obras por Aprobar</h1>
      </div>
    </div>
  </div>
  <div class="container-fluid bg-white scrollpsy-test">
    <div class="row justify-content-center">
      <div class="d-flex flex-row align-items-center mt-3 ms-3 ">  
        <table class="table ms-5 table-condensed">
          <thead>
            <tr>
              <th> Nombre </th>
              <th> email </th>
            </tr>
          </thead>
          <tbody>
            {% if lista %}
            {% for usuarios in lista %}
            <tr>
              <td> {{usuarios.username}} </td>
              <td> {{articulo.firstname}}</td>
              <td><input type="text" name="clase"></td>
            </tr>
            {% endfor%}
            {% endif %}
          </tbody>
        </table>
      </div>
    </div>
</div>
{% endblock contenido %}