
{% extends 'cliente/base.html' %}
{% load static %}
{% block contenido %}
<div class="container-fluid mt-5 bg-white">
    <div class="row justify-content-center">
      <div class="col-3 mt-5 mb-5">
        <h1>Lista de Obras por Aprobar</h1>
      </div>
    </div>
  </div>
  <div class="container-fluid bg-white scrollpsy-test">
    <div class="row justify-content-center">
      <div class="d-flex flex-row align-items-center mt-3 ms-3 ">  
        <table class="table ms-5 table-condensed">
          <thead>
            <tr>
              <th> Arte </th>
              <th> tipo </th>
              <th> Descripcion </th>
              <th> Estado </th>
              <th> Revision </th>
            </tr>
          </thead>
          <tbody>
            {% if articulos %}
            {% for articulo in articulos %}
            <tr>
              <td> <img src="{{articulo.imagen.url}}" height="250px" width="250px"> </td>
              <td> {{articulo.tipo}}</td>
              <td> {{articulo.descripcion}} </td>
              <td> {{articulo.estado}} </td>
              <td>  
                <button type="button" class="btn btn-primary " data-bs-toggle="modal" data-bs-target="#{{articulo.imagen}}">
                  Ver más
                </button>
              </td>
            </tr>
            <div class="modal fade" id="{{articulo.imagen}}" tabindex="-1" aria-labelledby="{{articulo.imagen}}" aria-hidden="true"> 
              <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="{{articulo.imagen}}"> {{articulo.Obras}}</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <div class="container-fluid">
                      <div class="row justify-content-center">
                        <div class="col">
                          <img src="{{articulo.imagen.url}}" class="img-fluid">
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                          <form method="POST" action="{% url 'actualizar_obra' %}">
                            {% csrf_token %}
                            <input type="hidden" name="idobra" value="{{articulo.idObras}}">  
                            <label for="Estado"></label>
                            <select class="form-select" aria-label="Default select tipoarte" name="estado">
                              {% if estado_obra %}
                              {% for estado in estado_obra %}
                                <option value="{{estado.estado}}">{{estado.estado}}</option>
                              {% endfor %}
                              {% endif %}
                            </select>
                            <button type="submit">Actualizar</button>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endfor%}
            {% endif %}
          </tbody>
        </table>
      </div>
    </div>
</div>
{% endblock contenido %}