{% extends 'cliente/base.html' %}
{% load static %}
{% block contenido %}
<!-- carta login-->
{% block funcion %}
  <script src="{% static 'JS/test.js' %}"></script>
{% endblock funcion %}
<div class="col-4 m-5">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Ingresa con tu cuenta</h5>
          <form method="POST">
            {% csrf_token %}
            <div class="form-outline mb-3">
              <label for="username" class="form-label">Usuario:</label>
              <input type="text" name="username" minlength="2" size="20" class="form-control">
            </div>
            <div class="form-outline mb-3">
              <label for="password" class="form-label">Contraseña:</label>
              <input type="password" class="form-control password" name="password" minlength="8" size="20">
              <div id="pass">¡No se aceptan caracteres con tilde ni la letra ñ!</div>
            </div>
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Recuerdame</label>
            </div>
            <button type="submit" class="btn btn-primary" id="ingreso">Ingresar</button>
          </form>
        </div>
      </div>
    </div>
{% endblock contenido %}