{% extends 'cliente/base.html' %}
{% load static %}
{% block contenido %}
<!-- carta login-->
<div class="col-4 m-5">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Ingresa con tu cuenta</h5>
          <form method="POST">
            {% csrf_token %}
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Correo electrónico:</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" pattern=".+@gmail\.com" size="30" required="">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Contraseña:</label>
              <input type="password" class="form-control prueba" id="exampleInputPassword1" size="20" required="">
            </div>
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Recuerdame</label>
            </div>
            <button type="submit" class="btn btn-primary">Ingresa</button>
          </form>
        </div>
      </div>
    </div>
{% endblock contenido %}