{% extends 'cliente/base.html' %}
{% load static %}
<!--Carrusel de imagenes de los artistas-->
{% block contenido %}
<div class="content-fluid mt-5 bg-secondary">
  <div class="row justify-content-center">
      <div class="col-8">
          <div id="carouselExampleCaptions" class="carousel slide">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <a href="{% url 'miguelangel' %}">
                      <img src="{% static 'Images/miguel angel.jpg' %}" class="d-block w-100" alt="Miguel Angel">
                  </a>
                  <div class="carousel-caption d-none d-md-block">
                    <h5>Miguel Angel</h5>
                  </div>
                </div>
                <div class="carousel-item ">
                  <a href="{% url 'pablopicasso' %}">
                    <img src="{% static 'Images/pablo picasso.jpg' %}" class="d-block w-100" alt="Pablo Picasso">
                  </a>
                  <div class="carousel-caption d-none d-md-block">
                    <h5>Pablo Picasso</h5>
                  </div>
                </div>
                <div class="carousel-item">
                  <a href="{% url 'vicentvangogh' %}">
                      <img src="{% static 'Images/vincent van gogh.jpg' %}" class="d-block w-100" alt="Vincent Van Gogh">
                  </a>
                  <div class="carousel-caption d-none d-md-block">
                    <h5>Vincent Van Gogh</h5>
                  </div>
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
      </div>
  </div>
</div>
{% endblock contenido %}