{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'CSS/main.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/obras.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <title>ComprArte</title>
</head>
<body class="container-fluid obras">
    <header class="container-fluid mt-5">
        <div class="row bg-body-tertiary">
            <div class="col-7">
                <nav class="navbar navbar-expand-lg bg-body-tertiary">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="{% url 'main' %}">
                            <img src="{% static 'Images/arte logo.png' %}" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
                            ComprArte
                        </a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="{% url 'main' %}">Inicio</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link disabled" href="#">Nuestros Artistas</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link disabled" href="#">Encuentranos</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link disabled" href="#">Contactanos</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
             <!-- nuevo boton de registrarse-->      
             <div class="col mt-2">
                <a class="btn btn-primary" href="{% url 'registro' %}" role="button"> 
                  <img src="{% static 'Images/usuario.png' %}" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
                  Regístrate 
                </a>
            </div>
            <!-- nuevo boton de ingresa-->      
            <div class="col mt-2">
                <a class="btn btn-primary" href="{% url 'login2' %}" role="button"> 
                  <img src="{% static 'Images/usuario.png' %}" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
                  Ingresa
                </a>
            </div>
        </div>
    </header>
    
    <div class="conteiner-fluid mt-5 bg-white scrollpsy-test">
        <!--primer modal-->
        <div class="d-flex flex-row align-items-center mt-3 ms-3">
            <div class="p-2">
                <img src="{% static 'Images/Obras miguel angel/adonis.jpg' %}" class="img-fluid imagen-obras" alt="david">
            </div>
            <div class="p-2">
                <p> El David es una de las obras maestras del Renacimiento según la mayoría de los historiadores, y una de las esculturas más famosas del mundo.</p>
            </div>
            <div class="ms-auto p-2">

                <button type="button" class="btn btn-primary " data-bs-toggle="modal" data-bs-target="#David-MA">
                    Ver más
                </button>

                <div class="modal fade" id="David-MA" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">El David $7.1M CLP</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="container-fluid">
                                    <div class="row justify-content-center">
                                        <div class="col">
                                            <img src="{% static 'Images/Obras miguel angel/adonis.jpg' %}" class="img-fluid" alt="adonis">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <p> esta es una prueba solamente para el trabajo, por favor inserte aqui el texto</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                <button type="button" class="btn btn-primary">Comprar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--segundo modal-->
        <div class="d-flex flex-row align-items-center mt-3 ms-3">
            <div class="p-2">
                <img src="{% static 'Images/Obras miguel angel/centauromaquia.jpg' %}" class="img-fluid imagen-obras" alt="david">
            </div>
            <div class="p-2">
                <p> La batalla de los centauros es una escultura en relieve en mármol del escultor Miguel Ángel datada cerca de 1493 y que se guarda en el museo de la Casa Buonarroti de Florencia.</p>
            </div>
            <div class="ms-auto p-2">
                
                <button type="button" class="btn btn-primary " data-bs-toggle="modal" data-bs-target="#centauro-MA">
                    Ver más
                </button>

                <div class="modal fade" id="centauro-MA" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">centauromaquia $7.2M CLP</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="container-fluid">
                                    <div class="row justify-content-center">
                                        <div class="col">
                                            <img src="{% static 'Images/Obras miguel angel/centauromaquia.jpg' %}" class="img-fluid" alt="adonis">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <p> esta es una prueba solamente para el trabajo, por favor inserte aqui el texto</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                <button type="button" class="btn btn-primary">Comprar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
        <!--tercer modal-->
        <div class="d-flex flex-row align-items-center mt-3 ms-3">
            <div class="p-2">
                <img src="{% static 'Images/Obras miguel angel/la creacion.jpg' %}" class="img-fluid imagen-obras" alt="david">
            </div>
            <div class="p-2">
                <p> Ilustra uno de los nueve episodios del Génesis representados allí por el artista toscano,1​ en el cual Dios le da vida a Adán, el primer hombre. Cronológicamente, es el cuarto de los paneles que representan episodios del Génesis en el techo de la capilla, fue de los últimos en ser completados y es una de las obras de arte más apreciadas y reconocidas en el mundo</p>
            </div>
            <div class="ms-auto p-2">
                
                <button type="button" class="btn btn-primary " data-bs-toggle="modal" data-bs-target="#creacion-MA">
                    Ver más
                </button>

                <div class="modal fade" id="creacion-MA" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">La creacion $7.1M CLP</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="container-fluid">
                                    <div class="row justify-content-center">
                                        <div class="col">
                                            <img src="{% static 'Images/Obras miguel angel/la creacion.jpg' %}" class="img-fluid" alt="adonis">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <p> esta es una prueba solamente para el trabajo, por favor inserte aqui el texto</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                <button type="button" class="btn btn-primary">Comprar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--cuarto modal-->
        <div class="d-flex flex-row align-items-center mt-3 ms-3">
            <div class="p-2">
                <img src="{% static 'Images/Obras miguel angel/la-piedad.jpg' %}" class="img-fluid imagen-obras" alt="david">
            </div>
            <div class="p-2">
                <p> La Virgen María, joven, bella y piadosa, cuyas vestiduras se expanden con numerosos pliegues, sostiene a Cristo muerto y que, intencionadamente, aparenta mayor edad que la madre, en una composición triangular sosegada, llena de ternura y que muestra el dolor de una madre al ver a su hijo muerto en sus brazos. La juventud de la Virgen María es muestra del idealismo renacentista: se trata de representar el ideal de belleza y juventud, una madre eternamente joven y bella.</p>
            </div>
            <div class="ms-auto p-2">
                
                <button type="button" class="btn btn-primary " data-bs-toggle="modal" data-bs-target="#piedad-MA">
                    Ver más
                </button>

                <div class="modal fade" id="piedad-MA" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">La piedad $7.1M CLP</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="container-fluid">
                                    <div class="row justify-content-center">
                                        <div class="col">
                                            <img src="{% static 'Images/Obras miguel angel/la-piedad.jpg' %}" class="img-fluid" alt="adonis">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <p> esta es una prueba solamente para el trabajo, por favor inserte aqui el texto</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                <button type="button" class="btn btn-primary">Comprar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--quinto modal-->
        <div class="d-flex flex-row align-items-center mt-3 ms-3">
            <div class="p-2">
                <img src="{% static 'Images/Obras miguel angel/madonna.jpg' %}" class="img-fluid imagen-obras" alt="david">
            </div>
            <div class="p-2">
                <p> esta es una prueba para la tarea</p>
            </div>
            <div class="ms-auto p-2">
                
                <button type="button" class="btn btn-primary " data-bs-toggle="modal" data-bs-target="#madonna-MA">
                    Ver más
                </button>

                <div class="modal fade" id="madonna-MA" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Madonna $7.1M CLP</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="container-fluid">
                                    <div class="row justify-content-center">
                                        <div class="col">
                                            <img src="{% static 'Images/Obras miguel angel/madonna.jpg' %}" class="img-fluid" alt="adonis">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <p> esta es una prueba solamente para el trabajo, por favor inserte aqui el texto</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                <button type="button" class="btn btn-primary">Comprar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--sexto modal-->
        <div class="d-flex flex-row align-items-center mt-3 ms-3">
            <div class="p-2">
                <img src="{% static 'Images/Obras miguel angel/moises.jpg' %}" class="img-fluid imagen-obras" alt="david">
            </div>
            <div class="p-2">
            <p> esta es una prueba para la tarea</p>
            </div>
            <div class="ms-auto p-2">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#moises-MA">
                    Ver más
                </button>
                <div class="modal fade" id="moises-MA" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Moises $7.1M CLP</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="container-fluid">
                                    <div class="row justify-content-center">
                                        <div class="col">
                                            <img src="{% static 'Images/Obras miguel angel/moises.jpg' %}" class="img-fluid" alt="adonis">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <p> esta es una prueba solamente para el trabajo, por favor inserte aqui el texto</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                <button type="button" class="btn btn-primary">Comprar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="conteiner-fluid mt-3 conversor">
        <div class="row justify-content-center">
            <div class="col-6 mt-5 mb-5">
                <h3 class="convertidor">Cambio de divisa aqui</h3>
                <input type="text" id="ca" placeholder="Monto a ingresar" required = "">
                <input type="text" id="de" placeholder="Divisa a preguntar " pattern="[A-Z]{3}" required="">
                <input type="text" id="ha" placeholder="Divisa Local"  pattern="[A-Z]{3}" required="">
                <button id="boton" class="btn btn-primary"> Convertir</button>
                <p id="resultado" class="convertidor"></p>
            </div>
        </div>
    </div>
    <footer>
        
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
    <script src="../Static/test.js"></script>
</body>
</html>
