{% extends 'cliente/base.html' %}
{% load static %}
{% block contenido %}
<div class="conteiner-fluid mt-5 bg-white scrollpsy-test">
    <!--primer modal-->
    <div class="d-flex flex-row align-items-center mt-3 ms-3">
        <div class="p-2">
            <img src="{% static 'Images/Obras miguel angel/adonis.jpg' %}" class="img-fluid imagen-obras" alt="david">
        </div>
        <div class="p-2">
            <p> El David es una de las obras maestras del Renacimiento según la mayoría de los historiadores, y una de las esculturas más famosas del mundo.</p>
        </div>
        <div class="ms-auto p-2">
            
            <button type="button" class="btn btn-primary " data-bs-toggle="modal" data-bs-target="#David-MA">
                Ver más
            </button>
            
            <div class="modal fade" id="David-MA" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">El David $7.1M CLP</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="container-fluid">
                                <div class="row justify-content-center">
                                    <div class="col">
                                        <img src="{% static 'Images/Obras miguel angel/adonis.jpg' %}" class="img-fluid" alt="adonis">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <p> esta es una prueba solamente para el trabajo, por favor inserte aqui el texto</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            <button type="button" class="btn btn-primary">Comprar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <!--segundo modal-->
        <div class="d-flex flex-row align-items-center mt-3 ms-3">
            <div class="p-2">
                <img src="{% static 'Images/Obras miguel angel/centauromaquia.jpg' %}" class="img-fluid imagen-obras" alt="david">
            </div>
            <div class="p-2">
                <p> La batalla de los centauros es una escultura en relieve en mármol del escultor Miguel Ángel datada cerca de 1493 y que se guarda en el museo de la Casa Buonarroti de Florencia.</p>
            </div>
            <div class="ms-auto p-2">
                
                <button type="button" class="btn btn-primary " data-bs-toggle="modal" data-bs-target="#centauro-MA">
                    Ver más
                </button>
                
                <div class="modal fade" id="centauro-MA" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">centauromaquia $7.2M CLP</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="container-fluid">
                                    <div class="row justify-content-center">
                                        <div class="col">
                                            <img src="{% static 'Images/Obras miguel angel/centauromaquia.jpg' %}" class="img-fluid" alt="adonis">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <p> esta es una prueba solamente para el trabajo, por favor inserte aqui el texto</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                <button type="button" class="btn btn-primary">Comprar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
        <!--tercer modal-->
        <div class="d-flex flex-row align-items-center mt-3 ms-3">
            <div class="p-2">
                <img src="{% static 'Images/Obras miguel angel/la creacion.jpg' %}" class="img-fluid imagen-obras" alt="david">
            </div>
            <div class="p-2">
                <p> Ilustra uno de los nueve episodios del Génesis representados allí por el artista toscano,1​ en el cual Dios le da vida a Adán, el primer hombre. Cronológicamente, es el cuarto de los paneles que representan episodios del Génesis en el techo de la capilla, fue de los últimos en ser completados y es una de las obras de arte más apreciadas y reconocidas en el mundo</p>
            </div>
            <div class="ms-auto p-2">
                
                <button type="button" class="btn btn-primary " data-bs-toggle="modal" data-bs-target="#creacion-MA">
                    Ver más
                </button>
                
                <div class="modal fade" id="creacion-MA" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">La creacion $7.1M CLP</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="container-fluid">
                                    <div class="row justify-content-center">
                                        <div class="col">
                                            <img src="{% static 'Images/Obras miguel angel/la creacion.jpg' %}" class="img-fluid" alt="adonis">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <p> esta es una prueba solamente para el trabajo, por favor inserte aqui el texto</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                <button type="button" class="btn btn-primary">Comprar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--cuarto modal-->
        <div class="d-flex flex-row align-items-center mt-3 ms-3">
            <div class="p-2">
                <img src="{% static 'Images/Obras miguel angel/la-piedad.jpg' %}" class="img-fluid imagen-obras" alt="david">
            </div>
            <div class="p-2">
                <p> La Virgen María, joven, bella y piadosa, cuyas vestiduras se expanden con numerosos pliegues, sostiene a Cristo muerto y que, intencionadamente, aparenta mayor edad que la madre, en una composición triangular sosegada, llena de ternura y que muestra el dolor de una madre al ver a su hijo muerto en sus brazos. La juventud de la Virgen María es muestra del idealismo renacentista: se trata de representar el ideal de belleza y juventud, una madre eternamente joven y bella.</p>
            </div>
            <div class="ms-auto p-2">
                
                <button type="button" class="btn btn-primary " data-bs-toggle="modal" data-bs-target="#piedad-MA">
                    Ver más
                </button>
                
                <div class="modal fade" id="piedad-MA" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">La piedad $7.1M CLP</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="container-fluid">
                                    <div class="row justify-content-center">
                                        <div class="col">
                                            <img src="{% static 'Images/Obras miguel angel/la-piedad.jpg' %}" class="img-fluid" alt="adonis">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <p> esta es una prueba solamente para el trabajo, por favor inserte aqui el texto</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                <button type="button" class="btn btn-primary">Comprar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--quinto modal-->
        <div class="d-flex flex-row align-items-center mt-3 ms-3">
            <div class="p-2">
                <img src="{% static 'Images/Obras miguel angel/madonna.jpg' %}" class="img-fluid imagen-obras" alt="david">
            </div>
            <div class="p-2">
                <p> esta es una prueba para la tarea</p>
            </div>
            <div class="ms-auto p-2">
                
                <button type="button" class="btn btn-primary " data-bs-toggle="modal" data-bs-target="#madonna-MA">
                    Ver más
                </button>
                
                <div class="modal fade" id="madonna-MA" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Madonna $7.1M CLP</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="container-fluid">
                                    <div class="row justify-content-center">
                                        <div class="col">
                                            <img src="{% static 'Images/Obras miguel angel/madonna.jpg' %}" class="img-fluid" alt="adonis">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <p> esta es una prueba solamente para el trabajo, por favor inserte aqui el texto</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                <button type="button" class="btn btn-primary">Comprar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--sexto modal-->
        <div class="d-flex flex-row align-items-center mt-3 ms-3">
            <div class="p-2">
                <img src="{% static 'Images/Obras miguel angel/moises.jpg' %}" class="img-fluid imagen-obras" alt="david">
            </div>
            <div class="p-2">
                <p> esta es una prueba para la tarea</p>
            </div>
            <div class="ms-auto p-2">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#moises-MA">
                    Ver más
                </button>
                <div class="modal fade" id="moises-MA" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Moises $7.1M CLP</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="container-fluid">
                                    <div class="row justify-content-center">
                                        <div class="col">
                                            <img src="{% static 'Images/Obras miguel angel/moises.jpg' %}" class="img-fluid" alt="adonis">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <p> esta es una prueba solamente para el trabajo, por favor inserte aqui el texto</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                <button type="button" class="btn btn-primary">Comprar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="conteiner-fluid mt-3 conversor">
        <div class="row justify-content-center">
            <div class="col-6 mt-5 mb-5">
                <h3 class="convertidor">Cambio de divisa aqui</h3>
                <input type="text" id="ca" placeholder="Monto a ingresar" required = "">
                <input type="text" id="de" placeholder="Divisa a preguntar " pattern="[A-Z]{3}" required="">
                <input type="text" id="ha" placeholder="Divisa Local"  pattern="[A-Z]{3}" required="">
                <button id="boton" class="btn btn-primary"> Convertir</button>
                <p id="resultado" class="convertidor"></p>
            </div>
        </div>
    </div>
    
{% endblock contenido %}